<div class="container" aria-label="Page Not Found">
  <h1 class="first-four" aria-label="Number 4">4</h1>
  <div class="cog-wheel1" aria-label="Cog Wheel 1">
    <div class="cog1" aria-hidden="true">
      <div class="top" aria-hidden="true"></div>
      <div class="down" aria-hidden="true"></div>
      <div class="left-top" aria-hidden="true"></div>
      <div class="left-down" aria-hidden="true"></div>
      <div class="right-top" aria-hidden="true"></div>
      <div class="right-down" aria-hidden="true"></div>
      <div class="left" aria-hidden="true"></div>
      <div class="right" aria-hidden="true"></div>
    </div>
  </div>

  <div class="cog-wheel2" aria-label="Cog Wheel 2">
    <div class="cog2" aria-hidden="true">
      <div class="top" aria-hidden="true"></div>
      <div class="down" aria-hidden="true"></div>
      <div class="left-top" aria-hidden="true"></div>
      <div class="left-down" aria-hidden="true"></div>
      <div class="right-top" aria-hidden="true"></div>
      <div class="right-down" aria-hidden="true"></div>
      <div class="left" aria-hidden="true"></div>
      <div class="right" aria-hidden="true"></div>
    </div>
  </div>
  <h1 class="second-four" aria-label="Number 4">4</h1>
  <p class="wrong-para" aria-label="Error Message">
    Uh Oh! Page not found!
    <button
      mat-fab
      color="accent"
      aria-label="Example icon button with a home icon"
      routerLink="/home"
    >
      <mat-icon>home</mat-icon>
    </button>
  </p>
</div>
