.toolbar {
    background-color: #323233;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 0;
    color: #fff;
  }
  
  .toolbar-right {
    display: flex;
  }
  
  .toolbar-item {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .toolbar-item:hover {
    background-color: #555;
  }